/* Base styles */
/***************/

:root {
  --teal: #0091ab;
  --lighter-teal: #64d1dd;
  --literally-black: #000000;
  --darker-black: #242424;
  --black: #313131;
  --grey: #9b9b9b;
  --medium-grey: #bbbbbb;
  --light-grey: #e1e1e1;
  --white: #fbfbfb;
  --small: 70%;

  --colour: var(--teal);
  --background: var(--white);
  --text: var(--black);
  --border: var(--light-grey);
  --shadow: var(--medium-grey);
  --code-background: var(--light-grey);
  --code: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour: var(--lighter-teal);
    --background: var(--black);
    --text: var(--light-grey);
    --border: var(--darker-black);
    --shadow: var(--literally-black);
    --code-background: var(--darker-black);
    --code: var(--white);
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: var(--text);
  line-height: 1.7;
  background-color: var(--background);
  font-size: 22px;
}

/* to undo styles in head that prevent fouc */
html {
  visibility: visible;
  opacity: 1;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 38rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  border-bottom: 2px solid var(--border);
  letter-spacing: 0.07rem;
}

h1 {
  font-size: 2.5rem;
}

main {
  flex: 1;
}

time {
  font-size: var(--small);
  color: var(--grey);
}

blockquote {
  border-left: 0.5rem solid var(--light-grey);
  padding-left: 1rem;
  margin: 2rem 0 2rem 1rem;
}

li > p {
  margin-bottom: 0;
}

/* Page breaks */
/***************/

main hr {
  border: 0;
  background: transparent;
  margin: 2rem 0;
  font-size: 0.8rem;
  text-align: center;
  color: var(--grey);
}

main hr::before{
  content: "—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—"
}

/* Description lists */
/*********************/

dt {
  margin-top: 2rem;
  font-weight: bold;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2rem;
  }
}

/**********************************************************************/
/* Header
/**********************************************************************/

header {
  padding-top: 2rem;
  line-height: 1;
}

header nav a {
  fill: var(--colour);
  display: inline-block;
}

header nav h1 {
  border: none;
}

header nav a:hover, header nav a:focus,
header nav a:visited:hover, header nav a:visited:focus {
  fill: var(--background);
  background: var(--colour);
  outline: unset;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  header h1 svg {
    width: 278px;
    height: 50px;
  }

  header h1 svg g {
    transform: matrix(0.7, 0, 0, 0.7, 0, 0);
  }

  header svg g {
    transform: matrix(0.4, 0, 0, 0.4, 0, 0);
  }

  header svg {
    width: 158px;
    height: 30px;
  }

  header h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

/**********************************************************************/
/* Images
/**********************************************************************/

img {
  max-width: 100%;
  display: block;
  margin: 2rem auto;
  border: 10px solid var(--border);
  border-radius: 3px;
  box-shadow: 4px 4px var(--shadow);
  box-sizing: border-box;
}

figure {
  margin: 1rem 0;
}

figure img {
  margin: 0 auto;
}

figcaption {
  font-size: var(--small);
  color: var(--grey);
  margin: 0.5rem auto;
  text-align: center;
  width: 80%;
  display: block;
}

.gallery {
  display: grid;
  grid-template-rows: masonry;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  img {
    border-width: 7px;
  }

  figure {
    margin: 0.5rem 0;
  }

  figcaption {
    width: 100%;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/**********************************************************************/
/* Index page
/**********************************************************************/

main section ul:first-child {
  list-style: none;
  margin: 0;
  padding: 0
}

main section ul:first-child li {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  grid-template-areas: "left right";
  align-items: baseline;
  grid-column-gap: 1rem;
}

main section ul:first-child li a {
  letter-spacing: 0.07rem;
  font-weight: 500;
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  main section ul:first-child li {
    margin-bottom: 1rem;
    grid-template: "top" "bottom";
  }

  main section ul:first-child li time {
    grid-area: bottom;
    justify-self: start;
  }
}

/**********************************************************************/
/* Footer
/**********************************************************************/

footer {
  border-top: 5px solid var(--border);
  color: var(--grey);
  display: flex;
  font-size: var(--small);
  margin-top: 2rem;
  padding: 1rem 0;
  align-items: center;
}

footer a {
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
}

footer p {
  flex: 1;
  text-align: right;
}

footer svg {
  margin-right: 0.35rem;
  fill: var(--grey);
}

/* Screens 750px or smaller */
/****************************/
@media only screen and (max-width: 750px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  footer svg {
    width: 18px;
  }
}

/**********************************************************************/
/* Links
/**********************************************************************/

a {
  color: var(--colour);
}

a:visited {
  color: var(--text);
}

a:focus, a:hover {
  background: var(--colour);
  color: var(--background);
  outline: 3px solid var(--colour);
  text-decoration: none;
}

a:visited:hover, a:visited:focus {
  background: var(--text);
  color: var(--background);
  outline: 3px solid var(--text);
}

/**********************************************************************/
/* Code
/**********************************************************************/

code {
  background: var(--code-background);
  border-radius: 5px;
  box-shadow: 2px 2px var(--shadow);
  font-family: Menlo, "Lucida Sans Typewriter", monospace;
  font-size: 0.85rem;
  margin: 0 0.1rem;
  padding: 0.1rem 0.45rem;
}

small code {
  font-size: 90%;
}

pre {
  background: var(--code-background);
  border-radius: 5px;
  box-shadow: 2px 2px var(--shadow);
  font-size: 0.7rem;
  overflow-x: auto;
  padding: 0.5rem 1rem;
  color: var(--code);
}

pre code {
  box-shadow: unset;
  padding: 0;
}
