:root {
  --color: #0091ab;
  --white: #fbfbfb;
  --black: #313131;
  --grey: #8a8a8a;
  --medium-grey: #bbbbbb;
  --light-grey: #e1e1e1;
}

html {
  font-family: 'San Francisco', 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
  color: var(--black);
  line-height: 1.7;
  background-color: var(--white);
  font-size: 22px;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 36rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

main {
  flex: 1;
}

header {
}

footer {
  align-items: center;
  border-top: 2px solid var(--light-grey);
  color: var(--grey);
  display: flex;
  font-size: 70%;
  margin-top: 2rem;
  padding: 1rem 0;
}

footer a {
  display: flex;
  margin-right: 1.5rem;
}

footer p {
  flex: 1;
  text-align: right;
}

footer svg {
  margin-right: 0.35rem;
}

a {
  color: var(--color);
}

a:hover, a:visited:hover {
  color: var(--black);
}

a:visited {
  color: var(--grey);
}

a:focus {
  background: var(--color);
  color: var(--white);
}

main > ul:first-child,
main section ul:nth-child(2) {
  list-style: none;
  margin: 0;
  padding: 0
}

main > ul:first-child li,
main section ul:nth-child(2) li {
  margin-bottom: 1rem;
}

time {
  display: block;
  font-size: 70%;
  color: #8a8a8a;
}

blockquote {
  border-left: 0.5rem solid var(--light-grey);
  padding-left: 1rem;
  margin: 2rem 0 2rem 1rem;
}

main hr {
  border: 0;
  background: transparent;
  margin: 2rem 0;
  font-size: 0.8rem;
  text-align: center;
  color: var(--grey);
}

main hr::before{
  content: "—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0—"
}

dt {
  margin-top: 2rem;
  font-weight: bold;
}

/* to prevent fouc */
html {
  visibility: visible;
  opacity: 1;
}

code {
  background: var(--light-grey);
  border-radius: 5px;
  box-shadow: 2px 2px var(--medium-grey);
  font-family: Menlo, "Lucida Sans Typewriter", monospace;
  font-size: 0.85rem;
  margin: 0 0.1rem;
  padding: 0.1rem 0.45rem;
}

small code {
  font-size: 90%;
}

pre {
  background: var(--light-grey);
  border-radius: 5px;
  box-shadow: 2px 2px var(--medium-grey);
  font-size: 0.7rem;
  overflow-x: auto;
  padding: 0.5rem 1rem;
}

pre code {
  box-shadow: unset;
  padding: 0;
}

li > p {
  margin-bottom: 0;
}
