<div class="message">
  <p>Thank you for signing up for my newsletter! Check your inbox for a confirmation email to be added to the mailing list.</p>
  <span><a href="/">✕</a></span>
</div>

{{> blog-index }}
