<ul>
  {{#blog}}
    {{>post-list-item}}
  {{/blog}}
</ul>

<section>
  <h2>Lessons From A Pandemic</h2>
	<ul>
	  {{#blog/lessons-from-a-pandemic}}
	    {{>post-list-item}}
	  {{/blog/lessons-from-a-pandemic}}
	</ul>
</section>

<section>
  <h2>Reading</h2>
	<ul>
	  {{#blog/reading}}
	    {{>post-list-item}}
	  {{/blog/reading}}
	</ul>
</section>

