---
title: All topics
slug: tags
---

<ul class="tags">
{{# site/tags }}
  <li>
    <span><a href="{{ tag/slug }}">{{ tag/label }}</a></span>
    <code>{{ tag/count }}</code>
    <a class="rss" href="{{ tag/slug }}feed.xml">[RSS]</a>
  </li>
{{/ site/tags }}
</ul>
