---
title: Let's Keep In Touch!
slug: newsletter
---

<p>Interested in receiving regular updates from this blog? You can sign up below to receive a monthly digest of what I've written, plus some related thoughts and sometimes links to resources I found particularly interesting that month. Replies go directly to me, and I care about what you think.</p>

{{> newsletter-signup }}

<p>I'll never send you spam and you can unsubscribe anytime. I have a more detailed explanation of <a href="/privacy">how I treat privacy here</a> if you'd like to learn more before signing up.</p>
