<p>Hello! I'm Kira. Thanks for visiting my blog. Here are all my posts, organized by category. If you like them you can sign up to receive a <a href="/newsletter">monthly digest</a> of my blog by email. Happy reading!</p>

<section>
  <ul>
    {{# site/groups }}
      <h2 id="{{ group/label }}">{{ group/label }}</h2>
      {{# group/items }}
        {{>post-list-item}}
      {{/ group/items }}
    {{/ site/groups }}
  </ul>
</section>
