<div class="links">
  <nav>
    <ul
      <li><a href="https://twitter.com/kiraemclean" rel="me">Follow me on Twitter</a></li>
      <li><a href="{{meta/root-url}}/feed.xml">Subscribe via RSS</a></li>
      <li><a href="/newsletter">Subscribe via email</a></li>
    </ul>
  </nav>

  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/privacy">Privacy</a></li>
  </ul>

  <p>&copy; Kira McLean</p>
</div>
