<div class="links constrain">
  <nav>
    <ul
      <li>Get Updates: </li>
      <li><a href="/newsletter">Newsletter</a></li>
      <li><a href="https://twitter.com/kiraemclean" rel="me">Twitter</a></li>
      <li><a href="{{meta/root-url}}/feed.xml">RSS</a></li>
    </ul>
  </nav>

  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/privacy">Privacy</a></li>
  </ul>

  <p>&copy; Kira McLean</p>
</div>
