<div class="links">
  <a href="{{meta/root-url}}/feed.xml">{{>icons/rss}}Subscribe via RSS</a>
  <a href="https://twitter.com/kiraemclean" rel="me">{{>icons/twitter}}Follow me on Twitter</a>
  <a href="/about">{{>icons/info}}About</a>
  <p>&copy; Kira McLean</p>
</div>
