<form
  action="https://buttondown.email/api/emails/embed-subscribe/kiramclean"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/kiramclean', 'popupwindow')" >
  <span>
    <input type="email" name="email" placeholder="Your Email Address">
    <input type="hidden" value="1" name="embed" />
  </span>
  <button type="submit">Send me updates!</button>
</form>
